<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>net.benas.bakisdemo.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>net.benas.bakisdemo.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutPagaliau</servlet-name>
        <servlet-class>net.benas.bakisdemo.LogoutPagaliau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enable2FA</servlet-name>
        <servlet-class>net.benas.bakisdemo.enable2FA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patvirtintiOTP</servlet-name>
        <servlet-class>net.benas.bakisdemo.patvirtintiOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QRCodeServlet</servlet-name>
        <servlet-class>net.benas.bakisdemo.QRCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove2fa</servlet-name>
        <servlet-class>net.benas.bakisdemo.Remove2fa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/UserRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutPagaliau</servlet-name>
        <url-pattern>/LogoutPagaliau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enable2FA</servlet-name>
        <url-pattern>/2FAenable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patvirtintiOTP</servlet-name>
        <url-pattern>/patvirtintiotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QRCodeServlet</servlet-name>
        <url-pattern>/QRCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove2fa</servlet-name>
        <url-pattern>/Remove2fa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
